/* 
	LEVEL ONE
*/
ul.dropdown li a                    { display: inline; padding: 4px 8px;}
ul.dropdown li                   	{ display: inline;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{text-align:left;visibility: hidden;display:block;z-index: 100000; position: absolute; top: 12px; left: 0px;  }
ul.dropdown ul li 					{display:block;width:180px;height:10px; float: none;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ width: 100%;display: inline-block; background-color:#e8a91a;} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }