/changelog.txt
/application
/db.ini
/release.txt
/admin
/archive
/nbproject
/install
/.buildpath
/git-ftp.log
/.project
/BingSiteAuth.xml
/.settings
/_notes
/verhaal
/.project
/error.txt
/license.txt
/config/
/.htaccess
/admin/.htaccess
/Capfile

